<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Library{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <h1>Библиотека</h1>
    <nav>
        <a href="{% url 'books' %}">Книги</a> |
        <a href="{% url 'writers' %}">Писатели</a> |
        <a href="{% url 'quotes' %}">Цитаты</a> |
        <a href="{% url 'time' %}">Время</a>
    </nav>
    <hr>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<hr>
<footer>
    <p>© 2025 GEEKS. Все права защищены.</p>
</footer>

</body>
</html>
